/*
    Author: Fabiano Lomonaco <fabiano.lomonaco.junior@gmail.com>
*/

.jumbotron-btns a:nth-child(2) {
    margin-left: 10px;
}

.btn-test {
    margin-top: 20px;
    margin-bottom: -20px !important;
}
