<!--
    Author: Auro Mota <auro@blueorc.com>
            Fabiano Lomonaco <fabiano.lomonaco.junior@gmail.com>
-->

<div class="row">
    <div class="jumbotron">
        <h1>Bem-vindo!</h1>
        <p>O Web Quiz é uma plataforma online em que alunos podem responder questionários e professores podem obter relatórios de seu desempenho.</p>
        <p class="jumbotron-btns">
            <a class="btn btn-primary btn-lg" ui-sref="credentials">Responda</a>
            <a class="btn btn-primary btn-lg" ui-sref="logs">Relatórios</a>
        </p>
    </div>
</div>
