<!--
    Author: Auro Mota <auro@blueorc.com>
-->

<ul class="breadcrumb">
    <li><a ui-sref="home">Início</a></li>
    <li><a ui-sref="logs">Relatórios</a></li>
    <li class="active">Detalhes</li>
</ul>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Informações</h3>
    </div>
    <div class="panel-body">
        <p><strong>Matrícula:</strong> {{data.user.id}}</p>
        <p><strong>Usuário:</strong> {{data.user.name}}</p>
        <p><strong>Desempenho:</strong> {{data.test.percentage | number: 2}}% ({{data.test.right}} acertos em {{data.test.total}} perguntas)</p>
        <p><strong>Duração do teste:</strong> {{totalTime | number: 2}} s</p>
        <div google-chart chart="questionTimeChart"></div>
        <strong>Perguntas do teste:</strong>
        <p ng-repeat="answer in data.answers">
            <strong>Questão {{answer.order}}: {{answer.question.text}}</strong>
            <span ng-if="answer.answer == answer.question.rightAnswer" class="glyphicon glyphicon-ok green-answer" aria-hidden="true"></span>
            <span ng-if="answer.answer != answer.question.rightAnswer" class="glyphicon glyphicon-remove red-answer" aria-hidden="true"></span>
        </p>
    </div>
</div>

